Package: com.halliehax.battibar
Name: BattiBar
Architecture: iphoneos-arm
Description: Colorize your status bar with your battery level!
Maintainer: HallieHax
Author: HallieHax
Section: Tweaks
Depends: firmware (>= 13.0), mobilesubstrate (>= 0.9.5000), ws.hbang.alderis (>= 1.1), ws.hbang.common (>=1.11)
Version: 1.0
Installed-Size: 432
